<form class="container" id="enquire-form">
  <div class="form-row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for = "inputFullName">Full Name:</label>
        <input type="text" class="form-control" id="inputFullName" placeholder="Full Name" />
      </div>
      <div class="form-group">
        <label for = "inputEmail">Email:</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" />
      </div>
      <div class="form-group">
        <label for = "inputTel">Telephone:</label>
        <input type="tel" class="form-control" id="inputTel" placeholder="Telephone" />
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for = "inputComments">COMMENTS / REQUESTS:</label>
        <textarea class="form-control" rows="9" cols="30" id="inputComments" placeholder="Your Comments, Requests or Questions">
        </textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-offset-5 col-sm-2">
        <button type="submit" class="btn btn-primary mb-2">Submit Enquiry</button>
      </div>
    </div>
  </div>
</form>
